openapi: 3.0.0
servers: 
  - url: 'https://api.voicepopcorn.com'
info:
  description: VoicePopcorn API
  version: '1.1'
  title: VoicePopcorn
  contact:
    email: support@voicepopcorn.com
tags:
  - name: Orders
    description: Manage Orders
paths:
  /api/v1/order/:
    post:
      tags:
        - Orders
      summary: Creates a new order
      operationId: createOrder
      description: Creates a new order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderItemRequest'
        description: Order to create
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  code:
                    type: integer
                    example: 200
                  data:
                    $ref: '#/components/schemas/OrderItemResponse'
                  message:
                    type: string
                    example: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseError"
    get:
      tags:
        - Orders
      summary: List your orders
      operationId: listOrders
      description: |
        List all of your orders.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  code:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderItemResponse'
                  message:
                    type: string
                    example: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseError"
  /api/v1/order/{id}/:
    get:
      tags:
        - Orders
      summary: Get your order
      operationId: getOrder
      description: |
        Add your Order's ID to the URL path and get the order details.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: Numeric ID of the user to get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: success
                  code:
                    type: integer
                    example: 200
                  data:
                    $ref: '#/components/schemas/OrderItemResponse'
                  message:
                    type: string
                    example: null
                type: object
        '400':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseError"
components:
  schemas:
    OrderItemRequest:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          example: Text or a url to an article.
    OrderItemResponse:
      type: object
      description: ''
      properties:
        id:
          type: string
          example: 1234
        text:
          type: string
          example: Text or a url to an article.
        audio_file:
          type: string
          example:
        title:
          type: string
          example: My Recording
        description:
          type: string
          example: ''
        is_complete:
          type: boolean
          example: true
        is_delivered:
          type: boolean
          example: true
        created_at:
          type: string
          example: "2022-01-06T03:57:52.966770Z"
        delivered_at:
          type: string
          example: "2022-01-06T03:57:52.966770Z"
        status:
          type: string
          example: in_progress
          enum:
          - in_progress
          - complete
          - error
          - rejected
        account:
          type: integer
          example: 1234234
    ResponseError:
      description: ''
      properties:
        status:
          type: string
          example: error
        code:
          type: integer
          example: 400
        message:
          type: string
      type: object
  securitySchemes:
    X-Api-Key:
      type: apiKey
      in: header       # can be "header", "query" or "cookie"
      name: X-Api-Key
security:
  - X-Api-Key: []